body{
    margin: 0;
    padding: 0;
    background: linear-gradient( white,rgb(190, 190, 190));
}

#title{
    
    background:linear-gradient( rgb(61, 61, 61),rgb(33, 33, 33));
    height: 10%;
    width: 100%;
    color: white;

}
#recog{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: normal;
    color: rgb(205, 228, 248);
    font-size: 35px;
    padding-top: 15px;
    padding-left: 10px;
    word-break: keep-all;
    float: left;
    margin-top: 0px;
   padding-bottom: 0%;
   transition:text-shadow 500ms
   ;   
}
#recog:hover{
cursor:pointer;
text-shadow:0px 0px 20px  rgb(205, 228, 248) 
}
#title_text{
    font-family:'Comfortaa', cursive; 
    font-size: 50px; 
    padding-top: 10px;
    text-align: center;
   margin-right: 200px;
   
  
   
}

#title_text,a{
text-decoration: none;
color: white;

}
a{
    transition:text-shadow 500ms
}
a:hover{
    text-shadow:0px 0px 20px  rgb(205, 228, 248) 
}
#camera{
    background:linear-gradient(to right, rgb(0, 238, 255), rgb(0, 255, 170)) ;
    border-radius: 10px 50px 10px 50px;
    height:50px;
    width: 150px;
    transition: width 0.5s;
    box-shadow: 0px 5px rgb(44, 44, 44);
    border-color: rgb(44, 44, 44);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    
    
}
#selfie{
    background:linear-gradient(to right, rgb(0, 238, 255), rgb(0, 153, 255)) ;
    border-radius: 10px 50px 10px 50px;
    height:50px;
    width: 150px;
    transition: width 0.5s;
    box-shadow: 0px 5px rgb(44, 44, 44);
    border-color: rgb(44, 44, 44);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    margin-left: 500px;
    
}
#selfie:hover{
    width: 200px;
}
#camera:hover{
    width: 200px;
}
#camera:active{
animation:250ms 1 ease click}
#selfie:active{
    animation:250ms 1 ease click
}
@keyframes click{
    0%{
        margin-top: 0px;
        box-shadow: 0px 5px black;
    }
    50%{
        margin-top: 5px;
        box-shadow: 0px 0px black;
    }
    100%{
        margin-top: 0px;
        box-shadow: 0px 5px black; 
    }
}
#content{
    
    height: 80%;
    width: 100%;
}
#version{
    
    width: fit-content;
     font-size: 35px;
     font-family: 'Fredoka', sans-serif;
     font-weight: lighter;
     float: right;
     color: rgb(255, 0, 136);
}
#buttons{
    margin-left: -700px;
}
